#board-play-board .piece.wp, #board-play-board .promotion-piece.wp {
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/.png') !important;
  }#board-play-board .piece.wn, #board-play-board .promotion-piece.wn { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/wn.png') !important;
  }#board-play-board .piece.wb, #board-play-board .promotion-piece.wb { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/wb.png') !important;
  }#board-play-board .piece.wr, #board-play-board .promotion-piece.wr { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/wr.png') !important;
  }#board-play-board .piece.wq, #board-play-board .promotion-piece.wq { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/wq.png') !important;
  }#board-play-board .piece.wk, #board-play-board .promotion-piece.wk { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/wk.png') !important;
  }#board-play-board .piece.bp, #board-play-board .promotion-piece.bp { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/bp.png') !important;
  }#board-play-board .piece.bn, #board-play-board .promotion-piece.bn { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/bn.png') !important;
  }#board-play-board .piece.bb, #board-play-board .promotion-piece.bb { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/bb.png') !important;
  }#board-play-board .piece.br, #board-play-board .promotion-piece.br { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/br.png') !important;
  }#board-play-board .piece.bq, #board-play-board .promotion-piece.bq { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/bq.png') !important;
  }#board-play-board .piece.bk, #board-play-board .promotion-piece.bk { 
    background-image: url('https://www.chess.com/chess-themes/pieces/cases/150/bk.png') !important;
  }
